[submodule "qunit"]
	path = qunit
	url = https://github.com/jquery/qunit.git
[submodule "dominator"]
	path = dominator
	url = https://github.com/mwbrooks/dominator.js.git
[submodule "pavlov"]
	path = pavlov
	url = https://github.com/mmonteleone/pavlov.git
